.btn {
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  &__primary {
    background: var(--color-primary);
    color: #fff;
    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &__second {
    background: var(--color-second);
    color: var(--color-primary-add);
  }

  &__disabled {
    cursor: default;
  }
}
