.btn {
  height: 32px;
  cursor: pointer;
  min-width: 64px;
  padding: 0 24px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: 'Proxima Nova';
  color: var(--color-font);
  &__primary {
    border: 1.5px solid var(--color-primary);
    
    &:hover {
      border-color: var(--color-primary-hover);
      background: var(--color-primary);
    }
  }

  &__secondary {
    background: var(--color-secondary);
    border: 1.5px solid var(--color-secondary);

    &:hover {
      background: var(--color-secondary-hover);
    }
  }

  &__disabled {
    cursor: default;
    border-color: var(--color-disable-add);
    background: var(--color-disable);
    color: var(--color-disable-add);
    &:hover {
      border-color: inherit;
      background: inherit;
    }
  }
  
  &__fullwidth {
    width: 100%;
  }
}
