.header {
  background: var(--color-primary);
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-hover) 100%);
  display: flex;
  align-items: center;
  height: 32px;

  &__content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.logo {
  flex: 0 0 250px;
  color: var(--color-main);
}
