.header {
  background: var(--color-primary);
  background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-primary) 100%);
  display: flex;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;

  &__content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.logo {
  flex: 0 0 250px;
  color: var(--color-main);
}
