.header {
  background: var(--color-primary);
  background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-primary-hover) 100%);
  display: flex;
  align-items: center;
  height: 32px;
}

.logo {
  flex: 0 0 250px;
  padding: 0 16px;
  color: var(--color-main);
}
