.root {
	min-height: 100vh;
	background: var(--color-bg-add);
	// padding: 50px 0 0 0;
	
	@media(min-width: 768px) {
		// padding: 50px 0 0 40px;
		padding: 50px 0 0 0;
	
		&.collapse {
			padding: 50px 0 0 250px;
		}
	}
	
	.padding {
		padding: 16px;
	}
}