.sidebar {
  flex: 0 0 250px;
  height: 100vh;
  max-height: 100vh;
  background: var(--color-secondary-hover);
  display: flex;
  flex-direction: column;

  &_active {
    flex: 0 0 50px;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    padding: 8px 0;
    flex: 1;
    overflow-y: auto;
  }
}

.nav {
  &__link {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    &:hover {
      background: var(--color-secondary);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    background: red;
    & + div {
      margin: 0 0 0 8px;
    }
  }
}
