*
    box-sizing: border-box
    margin: 0
    padding: 0

body
    font: $font-main-family
    color: $font-main-color
    background: $body-color
    &.fixed
        overflow: hidden

.app
    &__inner
        display: flex
        height: calc(100vh - 0px)

.main
    will-change: padding-left
    padding-left: $sidebar-width
    flex: 1

    &__inner
        padding: 20px
