{
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true
  },
  "rules": {
    "max-len": [2, 200],
    "linebreak-style": ["error", "windows"],
    "react/react-in-jsx-scope": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "ignore",
        "exceptions": ["Component"]
      }
    ],
    "jsx-a11y/anchor-is-valid": 0
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
