.dropdown {
  width: 300px;
  background: var(--color-primary-active);
  position: absolute;
  right: 0;
  top: calc(100% + 6px);

  &__block {
    padding: 8px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #fff;
    }
  }
}

.nav {
  list-style: none;

  &__item {
    padding: 8px;
    display: block;
    color: var(--color-main);
    &:hover {
      background: var(--color-primary);
    }
  }
}
