.root {
  width: 100%;
  display: flex;
  align-items: center;
  
  &__input {
    flex: 1;
    height: 32px;
    border: 1.5px solid var(--color-primary);
    padding: 0 8px;
  }

}

.error {
  .root__input {
    border-color: var(--color-error);
    background: var(--color-error-add);
  }
}
