.profile {
  padding: 20px;
  display: flex;
  flex-direction: column;
  &__item {
    color: #250080;
    font-size: 20px;
    font-weight: 600;
    color: #641f04;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
}
