.nav {
	&__item {
		position: relative;
		&:hover {
			color: var(--color-primary);
			.nav__drop {
				display: block;
			}
		}
	}

	.link{
		color: inherit;
		display: flex;
		align-items: center;
		padding: 0 8px;
		&:not(:last-child) {
			margin: 0 0 8px 0;
		}

		.icon {
			width: 24px;
			height: 24px;
		}

		.text {
			margin: 0 0 0 8px;
			&__hide {
				display: none;
			}
		}
	}

}

