.nav {
	&__item {
		position: relative;
		&:hover {
			color: var(--color-primary);
			.nav__drop {
				display: block;
			}
		}
	}
	&__link {
		color: inherit;
		height: 32px;
		display: flex;
		padding: 0 8px;
		align-items: center;
		justify-content: center;
		@media (min-width: $breakpoints-mobile) {
			justify-content: flex-start;
		}

		&_expanded {
			justify-content: center;
		}

	}
	
	&__drop {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		transform: translateX(-50%);
		background: var(--color-main);
		z-index: 2;
		overflow: hidden;

		&__exp {
			transform: none;
		}

		&__inner {
			display: flex;
			flex-direction: column;
		}

		&__item {
			width: 64px;
			flex: 1 0 64px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			color: var(--color-secondary-hover);
			&:hover {
				color: var(--color-primary);
				box-shadow: 0px 0px 24px 0 var(--color-primary-active);
			}
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
	}

	&__text {
		margin: 0 0 0 8px;
		display: none;
		@media (min-width: $breakpoints-mobile) {
			display: block;
		}
	}
}

