.btn {
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-main);
  min-width: 64px;
  padding: 0 16px;
  &__primary {
    background: var(--color-primary);
    &:hover {
      background: var(--color-primary-hover);
    }
  }

  &__secondary {
    background: var(--color-secondary);
    &:hover {
      color: var(--color-secondary-hover);
    }
  }

  &__disabled {
    cursor: default;
  }
  &__fullwidth {
    width: 100%;
  }
}
