.root {
  display: flex;
  align-items: center;
  color: var(--color-main-dark);

  .avatar {
    margin: 0 4px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
}
