@import 'carbon-components/scss/globals/scss/styles.scss';
@import './theme.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font: 16px/1 Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 0.9rem;
  line-height: 1;
}
