@import './theme.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font: 16px/1 'Yanone Kaffeesatz', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg {
  width: 100%;
  height: 100%;
}

p {
  font-size: 0.9rem;
  line-height: 1;
}

input,
select,
button,
textarea {
  outline: none;
  border: none;
}

.link-base {
  &:hover {
    text-decoration: underline;
  }
}
