@import "./theme.scss";

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font: 16px/1 "Proxima Nova", sans-serif;
  color: var(--color-font);

  &.hidden {
    overflow: hidden;
  }

  &.noMac {
    padding: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

img,
svg {
  width: 100% !important;
  height: 100% !important;
}

p {
  font-size: 0.9rem;
  line-height: 1;
}

button {
  background: none;
  cursor: pointer;
  font: 16px/1 "Proxima Nova", sans-serif;
}

input,
select,
button,
textarea {
  outline: none;
  border: none;
  background: none;
}

.link-base {
  &:hover {
    text-decoration: underline;
  }
}

.subtext {
  font-size: 0.85rem;
}
.text {
  font-size: 1.25rem;
}

h1 {
  font-size: 2rem;
  margin: 0 0 8px 0;
  @media (min-width: $breakpoints-mobile) {
    margin: 0 0 16px 0;
  }
}

h5 {
  margin: 0 0 4px 0;
  font-weight: 400;
  font-size: 1rem;
}
