html {
  --color-main: #ffffff;
  --color-main-dark: #303030;

  --color-primary: #17699A;
  --color-primary-hover: #3786b4;
  --color-primary-active: #CADAE4;

  --color-secondary: #17699A;
  --color-secondary-hover: #92B2C5;
  --color-secondary-active: #CADAE4;

  --color-bg: #d9e8ee;
  --color-bg-add: rgba(63, 68, 71, 0.5);
}

h1 {
  font-size: 2rem;
}
