html {
  --color-main: #f4f4f4;
  --color-main-dark: #303030;

  --color-primary: #da1d17;
  --color-primary-hover: #f74039;
  --color-primary-active: #6d6d6d;

  --color-secondary: #239cec;
  --color-secondary-hover: #135f92;
  --color-secondary-active: #3a3a3a;

  --color-bg: rgba(44, 49, 53, 0.5);
  --color-bg-add: rgba(63, 68, 71, 0.5);
}

h1 {
  font-size: 2rem;
}
