html {
  --color-main: #ffffff;
  --color-main-dark: #303030;

  //primary
  --color-primary: #30c8e7;
  --color-primary-add: #d5f3ff;

  --color-primary-hover: #43D7B7;
  --color-primary-hover-add: #e4f7fe;

  --color-primary-active: #CADAE4;

  //secondary
  --color-secondary: #9c81e0;
  --color-secondary-add: #d5f3ff;
  
  --color-secondary-hover: #da7ebc;
  --color-secondary-hover-add: #d5f3ff;

  --color-secondary-active: #CADAE4;

  //disable
  --color-disable: #ffffff;
  --color-disable-add: #f1efef;

  //other
  --color-bg: #232832;
  --color-bg-add: #323741;

  --color-font: #DDE1E2;

  --color-error: #ef4949;
  --color-error-add: #ff000012;
}