.list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px -8px;
  @media (min-width: $breakpoints-mobile) {
      margin: -8px;
  }
  &__item {
      flex: 1 0 100%;
      padding:  4px 8px;
      @media (min-width: $breakpoints-mobile) {
          padding: 8px;
          flex: 0 0 calc(100% / 4);
      }
      @media (min-width: $breakpoints-table) {
          flex: 0 0 calc(100% / 6);
      }
  }
}

.card {
  display: block;
  padding: 20% 0 0 0;
  position: relative;
  background: var(--color-secondary);
  
  @media (min-width: $breakpoints-mobile) {
      padding: 110% 0 0 0;
  }
}