.root {
  display: flex;
  align-items: center;

  .avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    color: var(--color-font);
  }

  .drop {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-secondary-add);
    padding: 4px 8px;
  }
}
