.form {
  &__title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 8px;
  }

  &__content {
    padding: 12px 8px;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }

  &__actions {
    padding: 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
