.form {
  &__title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px 0;
  }

  &__content {
    margin: 0 0 25px 0;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
  }
}
